/* @media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
  .container  ol {
    border-left-width: 2px;
    border-top-width: 0;
  }
  .container   li {
    width: 100%;
    margin-bottom: 12px;
  }
  .step {
    flex-direction: row;
    justify-content: flex-start;
  }
  .step span {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
  }
  .step div {
    position: relative;
    top: 0;
    left: 12px;
    width: calc(100% - 24px);
  }
} */

@media (max-width: 808px) {
    .container {
      width: 100%;
      flex-direction: column;
    }
    .container  ol {
      border-left-width: 2px;
      border-top-width: 0;
    }
    .container   li {
      width: 100%;
      margin-bottom: 12px;
    }
    .step {
      flex-direction: row;
      justify-content: flex-start;
    }
    .step span {
      position: absolute;
      left: 0;
      transform: translateX(-50%);
    }
    .step div {
      position: relative;
      top: 0;
      left: 12px;
      width: calc(100% - 24px);
    }
  }